<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <script type="text/javascript" src="main.js">
    </script>  
  </head>
  
  <body onload="main()">
    <div class="navbar "></div>
    <div class="container col-md-6 col-md-offset-4">
    <form id="form-fileupload" class="form-signin text-center">
      <h1 class="h3 mb-3 font-weight-normal">Upload File to render on Ultrahaptics</h1>
      
      <label id="tempid" for="name" class="sr-only"></label>
      <input type="file" accept=".svg" id="file_upload" name="file_upload" class="form-control" placeholder="Upload File">
      <div ref:svgHolder id='svg-holder'></div>
    </form>
    <button class="btn btn-lg btn-primary btn-block" id="render-button">Render</button>
  </div>
  
  </body>
</html>
