<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      th, td {
        min-width: 300px;
        text-align: left;
        vertical-align: top	
      }
      div {
        background-color: red;
        border-radius: 50px;
        position: absolute;
      }
      div#palm {
        height: 100px;
        width: 100px;  
      }
      div.finger {
        height: 20px;
        width: 20px;  
      }
      </style>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <script type="text/javascript" src="main.js"></script>
    <script src="https://js.leapmotion.com/leap-0.6.4.min.js"></script>      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="main.js">
    <link typr="stylesheet" src='main.css'> </link>
    </script>  

  </head>
  
  <body onload="main()">
    
    <div class="navbar "></div>
    <div class="container col-md-8 col-md-offset-4">
    <form id="form-fileupload" class="form-signin text-center">
      <h1 class="h3 mb-3 font-weight-normal">Upload File to render on Ultrahaptics</h1>
      
      <label id="tempid" for="name" class="sr-only"></label>
      <input type="file" accept=".svg" id="file_upload" name="file_upload" class="form-control" placeholder="Upload File">
      <div ref:svgHolder id='svg-holder'></div>
    </form>
    <button class="btn btn-lg btn-primary btn-block" id="render-button-svg">Render SVG</button>
    <div  ref:canvasHolder class='image-preview'>
      <canvas ref:canvas id='shape-canvas' width='500' height='500' style="border: 2px solid #000000;
      background-color: gray;
      width: 500px;
      height: 500px;"></canvas>
    </div>
    <button class="btn btn-lg btn-primary btn-block" id="clear-button-canvas">Clear Canvas</button>
    <button class="btn btn-lg btn-primary btn-block" id="render-button-canvas">Render Canvas</button>
  </div>

  <table>
    <tr>
      <th>Frame Data</th><th>Hand Data</th><th>Finger Data</th>
    </tr>
    <tr>
      <td id="frameData">Frame Data</td><td id="handData">Hand Data</td><td id="fingerData">Finger Data</td>
    </tr>
  </table>

  <div id="palm"></div>
  <div class="finger"></div>
  <div class="finger"></div>
  <div class="finger"></div>
  <div class="finger"></div>
  <div class="finger"></div>

  </body>
</html>
